{% extends "base.html" %}
{% block content %}

    <div class="containerindex">
        <div class="container-forsteside">
            <img src="images/ChatGPT Image 9. mai 2025, 11_10_26.png" alt="">
            
            <div class="centered"> <a href="index.html"><h1>Côte Serein</h1></a></div>
            <div class="centered_lower">
                <a href="dame1.html"><div><h2>Dame</h2></div></a>
                <a href="herre1.html"><div><h2>Herre</h2></div></a>
                <a href="barn1.html"><div><h2>Barn</h2></div></a>
                <a href="accessories1.html"><div><h2>Accessories</h2></div></a>
            </div>
        </div>

    <script src="javascript/script.js"></script>
{% endblock %}